[
	%% Lager config
	{lager, [
		{colored, true},
		{handlers, [
		{lager_console_backend, 
			[debug, {lager_default_formatter, [color, time, " [",severity,"]","[",module,":",line,"] ", message, "\n"]}]
		},
		{lager_file_backend, [{file, "log/error.log"}, {level, error}, {date, "$D0"}]},
		{lager_file_backend, [{file, "log/console.log"}, {level, info}, {date, "$D0"}]}
	]},
	{error_logger_hwm, 100}
	]},

	%% SASL config
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error},
		{error_logger_mf_dir, "log"},
		{error_logger_mf_maxbytes, 20971520},
		{error_logger_mf_maxfiles, 10}
	]},

	% tmsServer config
	{test06, [
		{http_port, 9080},	%% HTTP порт
		{connections, 8},	%% Количество обслуживаемых HTTP клиентов
		{http_session_timeout, 3600000}	%% Время жизни HTTP сесии в милисекундах (по умолчанию 10 минут)
	]}
].
